@model ItLabs.MyRecipes.Domain.Recipe

@{
    ViewBag.Title = "Create";
}

<h3>Create New Recipe</h3>

<div class="form-horizontal" style="max-width:640px">
    <div class="master">

        <table>
            <tr>
                <td><b>Recipe Name</b></td>
                <td>
                    <input type="text" id="recipeName" />
                    <span class="error">Recipe name required</span>
                </td>

            </tr>

            <tr>
                <td><b>Description</b></td>
                <td colspan="3">
                    <textarea id="description" style="width:100%"></textarea>
                </td>
            </tr>
            <tr>
                <td><b>Done Recipe</b></td>
                <td>
                    <input type="checkbox" id="doneRecipe" />
                </td>
            </tr>
            <tr>
                <td><b>Favourite Recipe</b></td>
                <td>
                    <input type="checkbox" id="favouriteRecipe" />
                </td>

            </tr>
        </table>
    </div>
    <div class="details">
        <h3>Ingredients</h3>

        <table width="100%">
            <tr>
                <td><b>Ingredints Name</b></td>
                <td><b>Quantity</b></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    @*@using (Html.BeginForm())
                        {
                            @Html.TextBox("searchTerm", null, new { id = "ingredientsName" })
                        }*@

                    <input type="text" id="ingredientsName" />
                    <span class="error">Name required</span>
                </td>
                <td>
                    <input type="text" id="quantity" />
                    <span class="error">Valid quantity required</span>
                </td>
                <td>
                    <input type="button" id="add" value="add" />
                </td>
            </tr>
        </table>



        <div id="orderItems" class="tablecontainer">

        </div>
        <div style="padding:10px 0px; text-align:right">
            <input id="submit" type="button" value="Save" style="padding:10px 20px" />
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
}
