@model ItLabs.MyRecipes.Domain.Recipe

@{
    ViewBag.Title = "Create";
}

<h4><b>Create New Recipe</b></h4>
<hr />

<div class="container col-sm-6">
    <div class="container">
        <form>
            <div class="form-group col-sm-12">
                <label for="name">Recipe Name:</label>
                <input type="text" class="form-control" id="recipeName">
                <span class="error">Recipe name required</span>
            </div>
            <div class="form-group col-sm-12">
                <label for="comment">Description:</label>
                <textarea class="form-control" rows="5" id="description"></textarea>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="" id="doneRecipe">Done</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="" id="favouriteRecipe">Favourite</label>
            </div>
        </form>
    </div>
    <h4><b>Ingredients</b></h4>
    <hr />
    <div class="container col-sm-5">
        <div class="form-group">
            <label for="Iname">Name:</label>
            <input type="text" class="form-control" id="ingredientsName">
            <span class="error">Name required</span>
        </div>
    </div>
    <div class="container col-sm-5">
        <div class="container">
            <label for="quantity">Quantity:</label>
            <input type="text" class="form-control" id="quantity">
            <span class="error">Valid quantity required</span>
        </div>
    </div>

    <div class="container">
        <br>
        <p>
            @*<input type="button" id="add" value="Add" />*@
            <input type="image" src="~/Photos/add2.png" title="add" alt="add" id="add" width="30" height="30">
            <div title="Add"></div>
</p>
    </div>
    <div class="col-sm-12 tablecontainer" id="orderItems">
        <br>

    </div>
    <div class="container text-right col-sm-12">
        
       @* <input id="submit" type="button" value="Save"> <img src='@Url.Content("~/Photos/IconDelete.png")' />*@
       
        <input type="image" src="~/Photos/Save3.png" alt="Submit" id="submit" width="60" height="60">
    </div>
    <br />
</div>
<div class="container col-sm-6">

</div>


<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
}
